/* Overall navbar style */
.navbar {
    background-color: #000000; /* Black background */
  }
  
  /* Navbar brand */
  .navbar-brand {
    color: #FFA500; /* Orange color for brand */
    font-weight: bold;
  }
  
  /* Navbar links */
  .navbar-nav .nav-link {
    color: #FFFFFF; /* White color for nav links */
    margin-right: 20px; /* Space between menu items */
    font-size: 16px; /* Adjust font size as needed */
  }
  
  /* Navbar links on hover */
  .navbar-nav .nav-link:hover {
    color: #FFA500; /* Orange color on hover */
    cursor: pointer;
  }
  
  /* Active link style */
  .navbar-nav .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid #FFA500; /* Orange underline for active link */
  }
  
  /* Adjustments for navbar-toggler icon */
  @media (max-width: 991.98px) {
    .navbar-toggler {
      border-color: #FFA500; /* Orange border for the toggle button */
    }
  
    .navbar-toggler-icon {
      background-image: linear-gradient(to bottom, #FFA500 50%, transparent 50%);
    }
  }
  
  .navbar-custom {
    background-color: #333;
  }
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
    color: #fff;
  }
  .navbar-custom .nav-link:hover {
    color: #ff6600;
  }
  .dropdown-menu {
    background-color: #333;
    border: none;
  }
  .dropdown-menu .dropdown-item {
    color: #fff;
  }
  .dropdown-menu .dropdown-item:hover {
    background-color: #ff6600;
    color: #fff;
  }